.publishnoticehhome{
    background: #6190E8;
    background: -webkit-linear-gradient(to bottom, #A7BFE8, #6190E8);
    background: linear-gradient(to bottom, #A7BFE8, #6190E8); 
    border-radius: 15px;
}
.classroutine-Form{
    background: #6190E8;
    background: -webkit-linear-gradient(to bottom, #A7BFE8, #6190E8);
    background: linear-gradient(to bottom, #A7BFE8, #6190E8); 
    border-radius: 15px;
}